<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <form action="/madlib">
        <label for="name">Color:</label>
        <input type="text" id="name" name="color"/>

        <label for="name">Noun:</label>
        <input type="text" id="name" name="noun"/>

        <label for="name">Person:</label>
        <input type="text" id="name" name="person"/>

        <label for="name">Adjective:</label>
        <input type="text" id="name" name="adjective"/>
        <button type="submit">Submit</button>
    </form>

  </body>

</html>